@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&family=Outfit&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
}

.header {
  background-color: white;
  padding: 1.25rem 2rem;
  border-bottom: 2px solid rgb(230, 230, 230);
}

.nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.nav__brand {
  grid-column: 1 / span 4;
  grid-row: 1;
  justify-self: center;
  align-self: center;
  margin-bottom: 1rem;
}

.nav__title {
  font-family: 'Lobster Two', cursive;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
}

.nav__lead {
  font-family: 'Outfit', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.25rem;
  margin-top: -0.5rem;
}

.nav__link {
  text-decoration: none;
  color: rgb(27, 27, 27);
  justify-self: center;
}

.nav__link:hover {
  text-decoration: underline;
}

.container {
  background-color: white;
  padding: 1.25rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 576px;
  margin: 0 auto;
}

.grid__column {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.card {
  padding: 1rem;
  box-shadow: 0 4px 8px hsla(0, 0%, 75%, 0.363);
}

.card__img {
  width: 100%;
  height: auto;
  margin-bottom: 0.75rem;
}

.card__title {
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.card__detail {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  color: white;
  background-color: gray;
}

.card__detail--price--blue {
  background-color: rgb(85, 156, 236);
}

.card__detail--price--green {
  background-color: rgb(60, 223, 114);
}
.card__detail--price--orange {
  background-color: rgb(236, 165, 85);
}

.card__detail--price--pink {
  background-color: rgb(235, 109, 240);
}

.card__detail--price--red {
  background-color: rgb(236, 98, 116);
}

@media screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    max-width: 992px;
    gap: 1rem;
  }

  .grid__column {
    align-self: start;
  }
}
